@use "$styles/functions/convert";
@use "$styles/mixins/button";

.block {
  width: convert.to-rem(40);
  height: convert.to-rem(40);

  border-radius: convert.to-rem(10);
  @include button.button-1;
}

.close {
  opacity: 1 !important;

  svg {
    width: convert.to-rem(30) !important;
  }
}
