@use "$styles/functions/convert";
@use "$styles/mixins/mixins";

.button {
  width: 100%;
  height: 100%;
  @include mixins.flex-center;

  svg {
    width: convert.to-rem(36);
    height: auto;
  }
}
