@use "$styles/functions/convert";
@use "$styles/mixins/breakpoints";

.image {
  max-height: convert.to-rem(1264);

  object-fit: contain;
  max-width: convert.to-rem(1376);

  width: 100%;
  height: 100%;
}
