@use "$styles/functions/convert";
@use "$styles/mixins/breakpoints";
@use "$styles/mixins/mixins";

.slide {
  aspect-ratio: 2/3;
  width: 100%;

  display: flex;
  flex-direction: column;
  position: relative;

  border-radius: 10px;
  overflow: hidden;

  @include mixins.user-select;
}

.title {
  text-align: center;
}

.heading,
.footer {
  position: relative;
  background-color: var(--color-bg-overlay-2);
  padding: convert.to-rem(20) convert.to-rem(10);
}

.footer {
  margin-top: auto;

  @include breakpoints.sm {
    min-height: convert.to-rem(120);
  }
}
