@use "$styles/functions/convert";
@use "$styles/mixins/breakpoints";
@use "$styles/mixins/mixins";
@use "$styles/mixins/button";
@use "$styles/mixins/interaction";

.block {
  flex-shrink: 0;
}

.link {
  display: block;
  width: convert.to-rem(44);

  border-radius: convert.to-rem(10);
  overflow: hidden;

  @include button.button-1;

  color: var(--color-bg-button-1);

  @include interaction.hover {
    color: var(--color-bg-button-1-hover);
  }

  @include interaction.active {
    color: var(--color-bg-button-1-active);
  }

  @include breakpoints.lg {
    width: convert.to-rem(60);
  }

  svg {
    width: 100%;
    height: auto;
  }
}
