@use "$styles/functions/convert";
@use "$styles/mixins/breakpoints";
@use "$styles/mixins/mixins";

.block {
  flex-shrink: 0;
}

.wrap {
  display: block;
  width: convert.to-rem(44);

  @include breakpoints.lg {
    width: convert.to-rem(60);
  }

  @include mixins.hover-opacity;

  svg {
    width: 100%;
    height: auto;
  }
}
