@use "$styles/functions/convert";
@use "$styles/mixins/typography";
@use "$styles/mixins/breakpoints";

.nav {
  display: none;

  @include breakpoints.lg {
    display: block;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: convert.to-rem(50);
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    @include typography.large-text;

    a {
      text-decoration: none !important;
    }
  }
}
