@use "$styles/functions/convert";
@use "$styles/mixins/mixins";
@use "$styles/mixins/transition";
@use "$styles/mixins/interaction";
@use "$styles/mixins/typography";

.block {
  background-color: var(--color-bg-overlay-2);
  border-radius: convert.to-rem(10);
}

.question {
  padding: convert.to-rem(20) convert.to-rem(20);
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: convert.to-rem(20);

  @include transition.create(color);

  &.active {
    color: var(--color-fg-accordion-hover);
  }

  @include interaction.hover {
    color: var(--color-fg-accordion-hover);
  }

  @include interaction.active {
    color: var(--color-fg-accordion-active);
  }
}

.qText {
  @include typography.h4;
}

.icon {
  display: flex;
  flex-shrink: 0;

  @include transition.create(transform);

  &.active {
    transform: rotate(-45deg);
  }
}

.answer {
  overflow: hidden;

  @include transition.create(margin, height);
  @include typography.main-text;

  ol,
  ul {
    display: flex;
    flex-direction: column;
    gap: convert.to-rem(5);
  }
}

.content {
  padding: 0 convert.to-rem(20) convert.to-rem(20);
}
